.development-china-second-slide .phone-block-animate {
  top: 100px;
}

.phone-block-animate {
  background: url(../img/phones-art.png) no-repeat left center;
  background-size: 100% auto;
  height: 1482px;
  width: 791px;
  position: absolute;
  right: -80px;
  top: 40%;
  z-index: 100;
}

@media screen and (max-width: 1650px) {
  .development-china-second-slide .phone-block-animate {
    width: 40%;
  }
}

.development-china-second-slide {
  p {
    font-size: 18px;
    color: #555555;
  }

  ul {
    padding-left: 20px;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;

     i {
       background: #CB2023;
       min-width: 10px;
       height: 10px;
       border-radius: 50%;
       display: block;
       align-self: flex-start;
       margin-top: 8px;
       margin-right: 24px;
    }
  }
}