<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Useful meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <title>Asia Pacific</title>
    <meta name="description" content="Комплексные решения для популяризации Вашего бренда в Китае.
Разработка сайтов и мобильных приложений, seo и smm инструменты, atl/btl маркетинг
">
    <meta name="keywords" content="">
    <meta property="og:title" content="Продвижение в Китае">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:url" content="http://as-pacific.com/" />
    <meta property="og:image" content="/assets/img/og-img.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/main.js"></script>
</head>
<body>
<!-- Main container -->
<div id="wrapper" class="inset-pages">
     <div class="dev-first-slide section fp-auto-height" id="section1">
        <div class="slide-three">
            <div class="menu-top-block" id="menu-top">
                <div class="container">
                    <div class="menu" >
                        <div class="bg-language-box"></div>
                        <div class="language-box">
                            <div class="array-w"></div>
                            <ul class="lang-block">
                                <li class="eng active"><a href="">ENG</a></li>
                                <li class="rus "><a href="">RUS</a></li>

                            </ul>
                        </div>
                        <div class="navy">
                            <div class="bg-menu"></div>
                            <div class="hamburger">
                                <div class="l1"></div>
                                <div class="l2"></div>
                                <div class="l3"></div>
                            </div>
                            <div class="window-menu">
                                <div class="nav-item"><a href="" class="nav-link" href="">Услуги</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">О нас</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Кейсы</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Блог</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Контакты</a></div>
                            </div>
                        </div>
                        <div class="logo">
                            <a href="/">
                                <img src="assets/img/logo-w.svg" alt="">
                            </a>
                        </div>
                        <div class="phone_tel">
                            <a href="tel:+74956416118" class="phone">
                                +7 (495) 641 61 18
                            </a>
                            <span class="line-header">|</span>
                            <a href="" class="telegramm">
                                @asia_pacific
                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="container first-container">

                <h1>ДЕВЕЛОПМЕНТ, ПОДДЕРЖКА, ПРОДВИЖЕНИЕ</h1>
                <p class="title-p">
                    Первое digital-агентство с китайским без акцента
                </p>
                <div class="anchor-links">
                    <a href="#dev-1" id="dev-a">Разработка сайта</a>
                    <a href="#section3" id="icp-a">Получение ICP лицензии</a>
                    <a href="#section4" id="seo">Продвижение лендинга</a>
                    <a href="#section5" id="mob">Мобильные приложения</a>
                    <a href="#section42" id="rise">Поддержка и развитие</a>

                </div>
            </div>
        </div>
     </div>
     <%- include('assets/templates/second-slide-dev.html') -%>
   <%- include('assets/templates/third-slide-dev.html') -%>
   <%- include('assets/templates/fourth-slide-dev.html') -%>
   <%- include('assets/templates/fifth-slide-dev.html') -%>
    <%- include('assets/templates/fourth-slide-dev-2.html') -%>
   <%- include('assets/templates/sixth-slide-dev.html') -%>

   <%- include('assets/templates/seventh-slide-dev.html') -%>
</div>

</body>
</html>
