<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Useful meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <title>Asia Pacific</title>
    <meta name="description" content="Комплексные решения для популяризации Вашего бренда в Китае.
Разработка сайтов и мобильных приложений, seo и smm инструменты, atl/btl маркетинг
">
    <meta name="keywords" content="">
    <meta property="og:title" content="Продвижение в Китае">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:url" content="http://as-pacific.com/" />
    <meta property="og:image" content="/assets/img/og-img.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/main.js"></script>
</head>
<body>
<!-- Main container -->
<div id="wrapper" class="inset-pages">
     <div class="ico-first-slide section fp-auto-height" id="section1">
        <div class="slide-three">
            <div class="menu-top-block" id="menu-top">
                <div class="container">
                    <div class="menu" >
                        <div class="bg-language-box"></div>
                        <div class="language-box">
                            <div class="array-w"></div>
                            <ul class="lang-block">
                                <li class="eng active"><a href="">ENG</a></li>
                                <li class="rus "><a href="">RUS</a></li>

                            </ul>
                        </div>
                        <div class="navy">
                            <div class="bg-menu"></div>
                            <div class="hamburger">
                                <div class="l1"></div>
                                <div class="l2"></div>
                                <div class="l3"></div>
                            </div>
                            <div class="window-menu">
                                <div class="nav-item"><a href="" class="nav-link" href="">Услуги</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">О нас</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Кейсы</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Блог</a></div>
                                <div class="nav-item"><a href="" class="nav-link" href="">Контакты</a></div>
                            </div>
                        </div>
                        <div class="logo">
                            <a href="/">
                                <img src="assets/img/logo-w.svg" alt="">
                            </a>
                        </div>
                        <div class="phone_tel">
                            <a href="tel:+74956416118" class="phone">
                                +7 (495) 641 61 18
                            </a>
                            <span class="line-header">|</span>
                            <a href="" class="telegramm">
                                @asia_pacific
                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="container first-container">

                <h1>ПРОДВИЖЕНИЕ ICO проектов</h1>
                <p class="title-p">
                    Будущее уже наступило
                </p>

            </div>
        </div>
     </div>

    <div class="iso-second-slide section fp-auto-height" id="slide-2">
        <div class="container">
            <p>ICO, как и краудфандинг в целом, является самой передовой формой инвестиций, где проекты поддерживаются верой в продукт и капиталом своих будущих потребителей. Выраженный потенциал, структурный план развития, понятная и ясная модель конечного продукта или сервиса позволяют будущим акционерам увидеть выгоду и скорую окупаемость своих инвестиций, а проекту -  создать уникальную, прорывную технологию, которая станет новационнее и совершеннее любой прежней.
            </p>
            <p>Краудфандинг - это такая же прорывная технология, когда вместо беготни по инвестфондам в поисках идеального бизнес-ангела, вы можете привлечь необходимые средства за счёт качественно упакованной, понятно описанной идеи и массового охвата аудитории.
            </p>
            <p>В рамках нашей промокампании мы покрываем основные азиатские направления - Китай, Гонконг, Сингапур, Южная Корея, Япония и Вьетнам.
            </p>
        </div>
    </div>
    <div class="ico-third-slide section fp-auto-height gray" id="slide-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ico-direct ico-icon-1">
                    <h3>Медиа и СМИ </h3>
                    <p>Публикации о Вашем проекте на релевантных веб-ресурсах
                    </p>
                    <ul>
                        <li>
                            Новостные и общие информационные порталы с повышенным трафиком и охватом свыше 1КК
                        </li>
                        <li>
                            Тематические форумы с возможностью создания и ведения персональных веток по формату BTT
                        </li>
                        <li>
                            Криптовалютные и блокчейн ресурсы с целевой аудиторией
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 ico-direct ico-icon-2">
                    <h3>Social Media </h3>
                    <p>Администрирование и продвижение в локальных социальных сетях и мессенджерах - WeChat, WeiBo, KakaoTalk, Line

                    </p>
                    <ul>
                        <li>
                            Создание официальных учётных записей и подписных аккаунтов
                        </li>
                        <li>
                            Контент-посевы и обработка входящих запросов на ежедневной основе
                        </li>
                        <li>
                            Наполнение групп через таргетированные рассылки
                        </li>
                        <li>
                            Круглосуточная служба поддержки
                        </li>
                        <li>
                            Аутстаффинг
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 ico-direct ico-icon-3">
                    <h3>KOL's</h3>
                    <p>Лидеры мнений расскажут о Вашем проекте
                    </p>
                    <ul>
                        <li>
                            Нативные посты от популярных тематических блогеров с солидной аудиторией

                        </li>
                        <li>
                            Продвижение через стриминговые сервисы и локальные видеохостинги (Youku, Tudou, Tencent Video, YouTube)
                        </li>

                    </ul>
                </div>
                <div class="col-lg-6 ico-direct ico-icon-4">
                    <h3>MICE</h3>
                    <p>
                        Организация, проведение выставочных мероприятий и конференций
                    </p>
                    <ul>
                        <li>
                            Закрытые митапы и встречи с потенциальными инвесторами
                        </li>
                        <li>
                            Питчинг на тематических конференциях
                        </li>
                        <li>
                            Организация выставочных стендов
                        </li>
                        <li>
                            Прочие интерактивы
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="iso-forth-slide section fp-auto-height" id="slide-4">
        <div class="container">
            <h2>Механика</h2>
            <div class="row">
                <div class="col-lg-6 fourth-slide-block">
                    <h3 class="f-s-b-t" id="b-t-1">
                        <span>Создание инфраструктуры. Адаптация</span>

                    </h3>
                    <p>Профессиональный перевод и полная локализация Вашего проекта</p>
                    <ul>
                        <li>Многостраничные сайты / посадочные страницы
                        </li>
                        <li>Ключевые документы: WP / OP / инвестиционные проспекты</li>
                    </ul>
                    <p>Регистрация персонального аккаунта в социальных сетях и на тематических форумах</p>
                    <ul>
                        <li>Оформление профиля</li>
                        <li>Наполнение контентом</li>
                    </ul>
                    <p>Размещение контактной информации</p>
                    <ul>
                        <li>Ссылки и QR коды на Ваши персональные аккаунты в локальных социальных сетях и мессенджерах</li>
                        <li>Ссылки на тематические форумы</li>
                    </ul>
                </div>
                <div class="col-lg-6 fourth-slide-block">
                    <h3 class="f-s-b-t" id="b-t-2">
                        <span>Лидогенерация</span>

                    </h3>
                    <p>Подбираем только самые эффективные каналы продвижения, пишем продающие статьи о Вашем проекте и публикуем на тематических ресурсах с наибольшим охватом целевой аудитории. Каждая статья содержит:
                    </p>
                    <p class="points-letter">
                        <span>a</span>
                        Прямые ссылки на страницу Вашего проекта (уже адаптированного под нужный регион покрытия)
                    </p>
                    <p class="points-letter">
                        <span>б</span>
                        Прямые ссылки или QR коды на официальные аккаунты Вашего проекта в локальных социальных сетях и мессенджерах.
                    </p>
                </div>
                <div class="col-lg-6 fourth-slide-block">
                    <h3 class="f-s-b-t" id="b-t-3">
                        <span>Аналитика и отчётность</span>

                    </h3>
                    <p>Каждая ссылка в статье, публикуемой на тематическом ресурсе, содержит UTM-метки, которые оценивают количество прямых переходов на сайт Вашего проекта. Обработка входящего трафика производится с помощью встраиваемых на Ваш сайт счётчиков аналитики от Yandex.Метрика и Google Analytics.
                    </p>
                </div>
                <div class="col-lg-6 fourth-slide-block">
                    <h3 class="f-s-b-t" id="b-t-4">
                        <span>Служба поддержки </span>

                    </h3>
                    <p>
                        Потенциальные держатели Ваших токенов должны видеть активность со стороны проекта, в который они инвестируют. Возможность получать регулярные новости на доступном языке - Ваше преимущество и дополнительный стимул для инвестора сделать первый и главный шаг - проинвестировать в Ваш ICO проект.

                    </p>
                </div>
            </div>
            <h2 class="our-case text-center w-100 our-case mt-5 pt-4">Наши кейсы</h2>
        </div>
    </div>
    <%- include('assets/templates/sixth-slide-dev.html') -%>

    <%- include('assets/templates/seventh-slide-dev.html') -%>
</div>

</body>
</html>
