<div class="section fp-auto-height" id="section42">
    <div class="container">
        <h2 class="pb-lg-4">Поддержка и развитие</h2>

        <div class="row text-fourth-slide">
            <div class="col-lg-6">
                <p>Ваш сайт - это не только лицо вашего бренда в Китае, но и платформа для коммуникации с аудиторией. Правильная подача материала и регулярные апдейты на сайте вызывают доверие и приводят новых клиентов. Мы пишем статьи на китайском языке, обновляем новостной раздел сайта, добавляем новые товары или услуги, следим за статистикой и создаем инфраструктуру: лайф чаты и WeChat поддержку, боты и автоответчики - все для того, чтобы ваш сайт был живым.</p>
                <div class="say-about-project mt-4 mb-4">
                    <a href="" id="sayMore">
                        Расскажите о вашем Проекте, детализация задачи поможет нам подготовить конструктивный ответ в кратчайшие сроки
                        <span></span>
                    </a>
                </div>
            </div>

        </div>
        <h2 class="text-center w-100 our-case mt-5 pt-4">
            Наши кейсы
        </h2>
    </div>
</div>