<div class="section fp-auto-height" id="section4">
    <div class="container">
        <h2 class="pb-lg-4">Продвижение лендинга</h2>

        <div class="row text-fourth-slide">
            <div class="col-md-6">
                <p>Как правило, при выводе на рынок нового продукта или сервиса необходимо убедиться в его востребованности для вашего потенциального потребителя. Маркетинговые исследования и анализ рынка не всегда являются определяющим фактором при оценке ваших продаж и требуют дополнительного тестирования. В таком случае, оптимальным вариантом для вас может стать создание посадочной страницы, локализованной и адаптированной на китайский язык. Такая страница будет содержать в себе общее описание вашей компании, продукта или услуги и не должна диверсифицировать в себе десятки опций, а лишь ограничивается конкретным предложением, расчитанным на свою целевую аудиторию.</p>
            </div>
            <div class="col-md-6">
                <p>Если предложение оценивается как высокочастотное,  то из-за ограниченной внутренней оптимизации, страница может плохо индексироваться поисковыми системами. Решением может послужить покупка контекстной рекламы, которая выведет ваш лендинг на первые позиции в листинге поисковой выдачи. Временные затраты на лендинг значительно ниже, поэтому такой вариант может рассматривается как "пилотный" перед запуском полноценного многостраничного сайта.</p>
            </div>
        </div>
    </div>
</div>