<div class="section fp-auto-height" id="section4">
    <div class="container">
        <h2 class="pb-lg-4">СОПУТСТВУЮЩИЕ УСЛУГИ</h2>
        <div class="row">
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-8"></div>
                <h4>Переводы</h4>
                <ul>
                    <li>Локализация</li>
                    <li>Языковая адаптация проекта</li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-9"></div>
                <h4>Консалтинг</h4>
                <ul>
                    <li>Легализация</li>
                    <li>Юридическое сопровождение</li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-10"></div>
                <h4>Аналитика</h4>
                <ul>
                    <li>Отраслевые обзоры</li>
                    <li>Медиаисследования </li>
                    <li>E-reputation</li>
                </ul>
            </div>

        </div>
        <div class="row text-fourth-slide">
            <div class="col-md-6">
                <p>Переводим на мандарин и кантонский диалекты привлекая сторонних исполнителей - все переводы, включая редактирование и корректуру, выполняются носителями из локальных агентств, выдерживаем сроки и гарантируем полное соответствие в семантике. Качественная верстка Вашего сайта на китайском языке обратит внимание потенциальных клиентов и сделает его China friendly, а если у Вас присутствует видеоконтент, то мы подготовим субтитры, произведем студийный дубляж и загрузим на китайские видеохостинги, чтобы китайцы могли его беспрепятственно воспроизвести (Youtube в Китае заблокирован). </p>
            </div>
            <div class="col-md-6">
                <p>Собственный бэк-офис в Шанхае упрощает оказание любого рода консалтинговых услуг для Вас, начиная от регистрации юридического лица и открытия расчётного счёта в любом китайском банке и заканчивая юридическим и бухгалтерским сопровождением, рекрутингом.	</p>
                <p>Для того, чтобы оценить возможности для Вашего бизнеса, мы анализируем рынок Китая - ищем ресёрчи, считаем цифры и помогаем Вам принять верное решение.
                </p>
            </div>
        </div>
    </div>
</div>