<div class=" section fp-auto-height">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-development"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">Разработка</a></h5>
                        <p>Сайт</p>
                        <p>Мобильные приложения</p>
                        <p>Посадочная страница</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-seo"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">seo</a></h5>
                        <p>Оптимизация</p>
                        <p>Контекстная реклама</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-smm"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">smm</a></h5>
                        <p>Комьюнити-менеджмент</p>
                        <p>Продвижение в социальных сетях </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-atl-btl"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">atl/btl</a></h5>
                        <p>Релевантные веб-ресурсы</p>
                        <p>Медийная реклама и PR</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-mice"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">mice</a></h5>
                        <p>Выставки</p>
                        <p>Митапы под ключ</p>
                        <p>Деловые и отраслевые конференции</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-social-crm"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">social Crm</a></h5>
                        <p>Контакт с потребителем</p>
                        <p>Cбор и управление пользовательскими данными</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-e-commerce"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">e-commerce</a></h5>
                        <p>Онлайн-ритейл</p>
                        <p>Продвижение через крупнейшие торговые площадки</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-translations"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">переводы</a></h5>
                        <p>Локализация</p>
                        <p>Языковая адаптация проекта</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-consulting"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">консалтинг</a></h5>
                        <p>Легализация</p>
                        <p>Юридическое сопровождение</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-analytics"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">аналитика</a></h5>
                        <p>Отраслевые обзоры</p>
                        <p>Медиаисследования</p>
                        <p>E-reputation</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="block-services">
                    <div class="block-services__icon-container">
                        <i class="block-services__icon-ico-promotion"></i>
                    </div>
                    <div class="block-services__text">
                        <h5><a class="block-services__title-link" href="">продвижение ICO</a></h5>
                        <p>Отраслевые обзоры</p>
                        <p>Медиаисследования</p>
                        <p>E-reputation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>