<div class="dev-second-slide section fp-auto-height" id="dev-1">

   <div class="container">
        <h2 class=" pb-lg-4">Разработка сайта в Китае</h2>
       <div class="row text-fourth-slide">
           <div class="col-md-6">
               <p>Мы не просто переводим уже готовую верстку на китайский язык, мы разрабатываем новый сайт, опираясь на ваши предпочтения и общепринятые в Китае стандарты, где последнее является ключевым фактором отклика клиента. Специфика китайских сайтов имеет свои отличительные особенности, это касается и веб-дизайна и восприятия информации в целом. Если вы когда-либо посещали китайские веб-ресурсы, то наверняка ужаснулись количеству переходных ссылок на 1 кв см, нагромождению рекламных блоков, пёстрым гифкам и флеш-анимациям. </p>
           </div>
           <div class="col-md-6">
               <p>С другой стороны, "минималистичные" сайты западного образца кажутся рядовому китайцу "пустыми", неинформативными и не внушают доверия.</p>
               <p>Вы можете быть бесконечно уверены в безупречности вашего сервиса и необходимости вашего продукта для конечного потребителя, но без качественной "упаковки" вам его не продать.</p>
           </div>
       </div>
       <h3 class="mt-4 pt-4 pb-4">Среди наших услуг: </h3>
        <div class="row">
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-1"></div>
                <p>верстка, программирование и тестирование
                </p>
                <div class="title-first-icon-line"></div>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d2"></div>
                <p>копирайтинг и наполнение контентом</p>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d3"></div>
               <p>нейминг и бренд-бук</p>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d4"></div>
                <p>формирование концепции бренда и адаптация фирменного стиля
                </p>
            </div>
        </div>

        <p class="under-first-slide-text pt-4">
            Все наши веб-продукты создаются с учётом алгоритмов поисковой выдачи, но мы не забываем о главном,
            наши клиенты работают для людей, а не для поисковых роботов, поэтому большое значение мы предаём содержанию:
            Что мы продаём?! Как это работает?! Почему это полезно именно вам?!
        </p>
    </div>
</div>