

<div class="main-carousel">
    <div><img class="d-block w-100" src="assets/img/banner.png" alt="banner slide"></div>
    <div><img class="d-block w-100" src="assets/img/banner.png" alt="banner slide"></div>
</div>


<div class="dev-second-slide section fp-auto-height" id="section2">

   <div class="container">
       <h2 class=" pb-lg-4">ДЕВЕЛОПМЕНТ, ПОДДЕРЖКА, ПРОДВИЖЕНИЕ</h2>
       <div class="row">
           <div class="col-md-6 col-xl-3 first-icon-line">
               <div class="icon-first-slide-1"></div>
               <h4><a href="development.html">Разработка</a></h4>
               <div class="title-first-icon-line"></div>
               <ul>
                   <li>Сайт</li>
                   <li>Мобильные приложения</li>
                   <li>Посадочная страница</li>
               </ul>
           </div>
           <div class="col-md-6 col-xl-3 first-icon-line">
               <div class="icon-first-slide-2"></div>
               <h4>SEO</h4>
               <div class="title-first-icon-line"></div>
               <ul>
                   <li>Оптимизация</li>
                   <li>Контекстная реклама</li>
               </ul>
           </div>
           <div class="col-md-6 col-xl-3 first-icon-line">
               <div class="icon-first-slide-3"></div>
               <h4>SMM</h4>
               <div class="title-first-icon-line"></div>
               <ul>
                   <li>Комьюнити-менеджмент</li>
                   <li>Продвижение в социальных сетях</li>
               </ul>
           </div>
           <div class="col-md-6 col-xl-3 first-icon-line">
               <div class="icon-first-slide-4"></div>
               <h4>Atl/Btl</h4>
               <div class="title-first-icon-line"></div>
               <ul>
                   <li>Релевантные веб-ресурсы</li>
                   <li>Медийная реклама и PR </li>
               </ul>
           </div>
       </div>
       <h3 class="pt-4 pb-4">Создаем инфоповоды, привлекаем живой трафик</h3>
       <p class="under-first-slide-text">
           Мы формируем наши предложения таким образом, чтобы они взаимодополняли друг друга. Мы создаем сайты и привлекаем живой трафик через пулы тематических ресурсов, а для удержания вашей целевой аудитории используем smm инструменты - пишем контент, развиваем ветки на форумах, комьюнити в блогах и социальных сетях, интегрируемся с вашей командой и обрабатываем входящие запросы, чтобы оказать вашему клиенту качественный сервис.
       </p>
    </div>
</div>

