<div class="section gray fp-auto-height" id="section7">


    <div class="container width-100-pr">
        <div class="row">
            <div class="col-lg-9 col-xl-7 form-and-contacts">
                <div class="block-form">
                    <h3>Расскажите о вашем Проекте</h3>
                    <div class="result"></div>
                    <form action="" id="form">
                        <div class="form-group">
                            <input name="name" placeholder="Имя" data-validation="length" data-validation-length="min2" data-validation-error-msg="Слишком короткое имя! Нужно от 2-х символов!" class="required">
                        </div>
                        <div class="form-group">
                            <input name="email" placeholder="Email" data-validation="email" data-validation-error-msg="Введите верный Email!" class="required">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Описание проекта. Детализация задачи поможет нам подготовить конструктивный ответ в кратчайшие сроки" data-validation="length" data-validation-length="min10" data-validation-error-msg="Сообщение должно быть длинее 10 символов!" ></textarea>
                        </div>
                        <div class="btn-block-footer">
                            <input class="btn btn-primary send-bln" type="button" value="Отправить">
                        </div>
                    </form>
                </div>
                <div class="red-line-contacts">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="block-contacts-footer">
                                <h3>Россия</h3>
                                <p>101000, г. Москва, ул. Мясницкая, 42/2</p>
                                <p>Тел.:<a href="tel:+74956416118">
                                    +7 (495) 641 61 18</a>
                                </p>
                                <p>
                                    <a href="mailto:info@as-pacific.com">
                                        info@as-pacific.com
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="block-contacts-footer china-block">
                                <h3>Китай</h3>
                                <p>111, Fengpu Ave, Fengxian District, Shanghai</p>
                                <p>
                                    Тел.: <a href="+8613764377097">+86 (137) 6437 7097</a>
                                </p>
                                <p>
                                    <a href="mailto:info@as-pacific.com">info@as-pacific.com</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 copy text-center text-lg-left">
                    <p>© 2018 digital-агентство Asia Pacific
                        <a href="tg://resolve?domain=asia_pacific">
                            <img src="/assets/img/telegramm.svg" alt="">
                        </a>
                        <a href="https://www.facebook.com/aspacific/">
                            <img src="/assets/img/fb.svg" alt="">
                        </a>
                        <a href="http://www.i-association.ru">
                            <img src="/assets/img/aia.svg" alt="">
                        </a>
                        <a href="https://www.artstation.com">
                            <img src="/assets/img/artstation.svg" alt="">
                        </a>
                    </p>


                </div>
                <div class="col-lg-4 pb-4 pt-3 pb-lg-0 pt-lg-0 col-12 text-center text-lg-right footer-logo">
                    <img src="/assets/img/footer-logo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="map">
    </div>
</div>







