
<div class="section fp-auto-height" id="section6">
    <div class="container">
        <h2 class=" pb-1  arrow-red-h2" >Наши кейсы</h2>
        <p class="under-first-slide-text  pb-4 ">
            Как говорит наш таргетолог, кейсы - это когда что-то у кого-то когда-то получилось, но не факт, что это можно повторить. <br>
            Мы решили не ограничиваться только историями успеха, а сконцентрироваться на наиболее интересных сценариях выхода на рынок Китая, тем самым давая возможность проецировать их на ваш Бизнес.

        </p>
    </div>
    <div class="container mw-100 container-portfolio">
        <div class="row alive-case">
            <div class="title-alive-case">
                <p>ЖИВЫЕ КЕЙСЫ</p>
            </div>
            <div class=" col-sm-6 col-lg-3 portfolio-block" id="pb-1-1">
                <a href="[[~42]]">
                    <span class="name-portfolio">
                        <span class="name-p-t">Игровой стриминг</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        DROP IS BETTER THAN FROM GABEN
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class=" col-sm-6 col-lg-3 portfolio-block" id="pb-1-1">
                <a href="[[~42]]">
                    <span class="name-portfolio">
                        <span class="name-p-t">Игровой стриминг</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        DROP IS BETTER THAN FROM GABEN
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class=" col-sm-6 col-lg-3 portfolio-block white-p" id="pb-1-2">
                <a href="[[~41]]">
                    <span class="name-portfolio">
                        <span class="name-p-t">INSPECTCAR</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        WE WILL PROFESSIONALLY SELECT AND CHECK-UP YOUR CAR WITH WARRANTY

                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class=" col-sm-12 col-lg-6 portfolio-block" id="pb-1">
                <a href="[[~43]]">
                    <span class="name-portfolio">
                        <span class="name-p-t">ADGEX</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        ADGEX is a modern high-tech developer of green progressive technologies. Our solutions are aimed to tackle the most pressing environmental challenges, delivering sustained robust growth.
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
        </div>
        <div class="row alive-case">
            <div class="title-alive-case blue-block">
                <p>КРАУДФАНДИНГ</p>
            </div>
            <div class="col-sm-6 col-lg-3  portfolio-block white-p" id="pb-2">
                <a href="https://eticket4.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">eticket4</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        Marketplace for sale and purchase of tickets
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3  portfolio-block" id="pb-3">
                <a href="https://selfllery.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">selfllery</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        The social platform for visual content monetization
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 portfolio-block" id="pb-5">
                <a href="https://adhiveplatform.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">adhive</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        The first AI-controlled Influencer Marketing Platform
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>


        </div>
    </div>
</div>