<div class="section fp-auto-height" id="section77">
    <div class="container mw-100 container-portfolio">
        <div class="row">
            <div class="col-xl-6 col-md-6 portfolio-block" id="pb-1">
                <a href="http://www.adgex.com/en/" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">ADGEX</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        ADGEX is a modern high-tech developer of green progressive technologies. Our solutions are aimed to tackle the most pressing environmental challenges, delivering sustained robust growth.
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 portfolio-block white-p" id="pb-2">
                <a href="https://eticket4.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">eticket4</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        Marketplace for sale and purchase of tickets
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 portfolio-block" id="pb-3">
                <a href="https://selfllery.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">selfllery</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        The social platform for visual content monetization
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 portfolio-block" id="pb-5">
                <a href="https://adhiveplatform.com" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">adhive</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        The first AI-controlled Influencer Marketing Platform
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 portfolio-block white-p" id="pb-4">
                <a href="https://www.lh-broker.com" target="_blank">
                    <span class="name-portfolio  white-p">
                        <span class="name-p-t">LARSON&HOLZ</span>
                        <span class="date-portfolio">2017</span>
                    </span>
                    <p class="text-description">
                        Larson and Holz IT Ltd was established in 2004 to offer access for the internet trading on the world financial markets.
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>
            <div class="col-xl-6 col-md-6 portfolio-block" id="pb-6">
                <a href="https://telluria.trade" target="_blank">
                    <span class="name-portfolio">
                        <span class="name-p-t">telluria</span>
                        <span class="date-portfolio">2018</span>
                    </span>
                    <p class="text-description">
                        Own payment system. We connect money
                    </p>
                    <span class="link-text">Подробнее</span>
                </a>
            </div>

        </div>
    </div>
</div>