<div class="dev-third-slide section gray fp-auto-height" id="section3">
    <div class="container">
        <h2 class="pb-lg-4">Получение ICP лицензии в Китае. Легализация и лицензирование </h2>
        <div class="row text-third-slide">
            <div class="col-md-6 pb-4">
                <p>Большинство зарубежных сайтов испытывают сложности при открытии на территории Китая:</p>
            </div>

        </div>
        <div class="row text-third-slide">
            <div class="col-md-6 warning">
                <p>Медленная загрузка сайта - ограничение входящего из-за рубежа интернет-трафика</p>
                <p>Отсутствие в поисковой выдаче - ранжирование в листинге Baidu (крупнейшая поисковая система Китая) зависит от доступности сайта, а так же скорости его открытия</p>
                <p>Риск быть заблокированным - отсутствие обязательного лицензирования сайта (ICP)</p>
            </div>
            <div class="pt-5 pt-md-0 col-md-6">
                <p>Де-юре, ICP лицензия необходима для легализации вашей интернет-деятельности на территории Китая и может оформляться только на резидентов КНР - юридическое или физическое лицо. Без лицензии ваш сайт может быть подвержен блокировке и занесен в реестр запрещенных, нежелательных сайтов; так же вы не сможете воспользоваться инструментами Baidu для запуска SEO и контекстной рекламы.</p>
            </div>
        </div>
        <h3 class="pt-4 pb-4">Получение ICP лицензии не будет барьером для вас</h3>
        <div class="row text-third-slide">
            <div class="col-md-6">
                <p>Наша команда готова оказать полный комлекс услуг по регистрации и лицензированию вашего сайта:</p>
            </div>


        </div>
        <div class="img-steps-block text-center">
            <img src="/assets/img/steps.svg" alt="">
        </div>
        <div class="row white-color">

            <div class="col-md-6 col-xl-3 first-icon-line ">
                <div class="icon-first-slide-d5"></div>
                <p>Покупка и регистрация домена в зоне CN
                </p>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d6"></div>
                <p>Запрос на трансфер вашего сайта на китайский хостинг</p>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d7"></div>
                <p>Получение одоборения и присвоение ICP лицензии</p>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-d8"></div>
                <p>Подготовка и трансфер вашего сайта на китайский хостинг
                </p>
            </div>

        </div>
    </div>
</div>