<div class="dev-third-slide section gray fp-auto-height" id="section3">
    <div class="container">
        <h2 class="pb-lg-4">ИВЕНТЫ, РИТЕЙЛ, b2b2c</h2>
        <div class="row">
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-5"></div>
                <h4>Mice</h4>
                <ul>
                    <li>Выставки</li>
                    <li>Митапы под ключ</li>
                    <li>Деловые и отраслевые конференции</li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-6"></div>
                <h4>Social Crm</h4>
                <ul>
                    <li>Контакт с потребителем</li>
                    <li>Cбор и управление пользовательскими данными</li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-3 first-icon-line">
                <div class="icon-first-slide-7"></div>
                <h4>E-commerce</h4>
                <ul>
                    <li>Онлайн-ритейл </li>
                    <li>Продвижение через крупнейшие торговые площадки </li>
                </ul>
            </div>

        </div>
        <h3 class="pt-4 pb-4">Продвигаем в офлайне, создаем онлайн-магазины и формируем клиентскую базу</h3>
        <div class="row text-third-slide">
            <div class="col-md-6">
                <p>Организуем выездные мероприятия любого формата, готовим инфраструктуру. Находим тематические выставки и конференции, помогаем в участии и экспонировании вашего продукта. Формируем базу потенциальных клиентов для последующей обработки, напоминаем о новых акциях и скидках, все это в формате аутстаффинга.</p>
            </div>
            <div class="col-md-6">
                <p>Создаем под ключ и продвигаем онлайн-магазины на крупнейших e-commerce платформах Alibaba Group - Taobao и Aliexpress. Пишем контент, наполняем ассортиментом и производим полную локализацию.	</p>
            </div>
        </div>
    </div>
</div>